
.detailFilmInfo{
  width:330px;
  height:150px;
  padding: 19px 30px 19px 15px;
  color: #fff;
  background: #40454d;
  dt{
    width: 110px;
    float: left;
    img{
      width: 110px;
      height:150px;
      box-sizing: border-box;
    }
  }
  dd{
    width: 200px;
    float: right;
    height: 150px;
  }


}
#cinemaNameList{
  margin-left:10px;
}